// color principal
$color-principal: #064886;
$color-secundario: #000000;
$color-terciario: #ffffff;

// Color hover 
$color-hover: #2a5168;

// Color nombre 
$color-name: #ccc;

// colores tarjetas
$color-tarjeta: #1a1a1a;
$color-htarjeta: #525180;

// color footer 
$color-footer: #064886;